/* FONTS */
$brand-font: 'Red Hat Display', sans-serif;
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Poppins', sans-serif;
$price-font: 'Oxygen', sans-serif;

/* COLORS */
$color-orange: #ff5331;
$color-purple: #545268;
$color-white: #fafafa;
$color-black: #393939;
