.button{
  font-family: $secondary-font;
  color: #fff;
  background-color: $color-purple;
  text-align: center;
  text-transform: uppercase;
  padding: 18px 50px;
  display: inline-block;
  
 
  @mixin atMedium{
    padding: 20px 50px;
  }

  @mixin atLarge{
    padding: 20px 60px;
  }

}
