.grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 4%;
  
  @mixin atXLarge{
    margin: 0 11%;
  }

  @mixin atXXLarge{
    margin: 0 18%;
  }


  /* sponsors section */
  &--sponsors{
    display: grid;
    grid-template-columns: minmax(2rem, 4rem) repeat(5, 1fr) minmax(2rem, 4rem);
    grid-gap: 0 1rem;

    @mixin atXLarge{
      grid-template-columns: minmax(2rem, 1fr) repeat(5, 1fr) minmax(2rem, 1fr);
      grid-gap: 0;
    }

  }

}